<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="gnb" th:remove="tag">
    <section class="content-header">
        <div class="container-fluid" style="background-color: black; color: white">
            <div class="row col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ul class="list-inline ui-menu" style="padding:10px;">
                        <li class="list-inline-item ui-menu-item" style="margin-right: 50px;">
                            <h5>LOOKBOOK</h5>
                        </li>
                        <li class="list-inline-item ui-menu-item menu-label">
                            Explore
                        </li>
                        <li class="list-inline-item ui-menu-item menu-label">
                            Feed
                        </li>
                        <li class="list-inline-item ui-menu-item menu-label">
                            Blog
                        </li>

                        <li class="list-inline-item ui-menu-item pull-right">
                            <span style="padding-right: 30px;">Log in</span>
                            <button class="btn btn-sm btn-default">Join</button>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
</div>

<div th:fragment="footer" th:remove="tag">
    <footer class="footer">
        <div class="inner">
            <div class="f_btm clear">
                <ul class="f_logo">
<!--                    <li><img src="/images/f_logo01.jpg"></li>-->
<!--                    <li><img src="/images/f_logo02.jpg"></li>-->
                </ul>
                <p class="f_info">(주) Gig Company<span>대표번호 1588-1992</span><span class="copy">Copyright ⓒ 2020 Gig Company. All rights reserved.</span></p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
