<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>

</head>
<body>
<div class="index-page" layout:fragment="content">
    <section class="content-header">
        <div class="container">
            <div class="row col-md-12" style="background-color: black;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ul class="row">
                        <li>LookBook</li>
                        <li>Explore</li>
                        <li>Feed</li>
                        <li>Blog</li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <h4 data-toggle="tooltip" data-placement="bottom" title="Tooltip">Dolor</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
    </section>
</div>
<section layout:fragment="script">
    <script>
        $( function () {
            $('[data-toggle="tooltip"]').tooltip()
        } );
    </script>
</section>
</body>
</html>